<a [routerLink]="['/']">
  <h1 style="display: inline-block">Kaspi Catalog</h1>
  <img class="logo" style="display: inline-block; margin: 0px" src="https://o.remove.bg/downloads/f181da47-a7aa-477f-9c73-1869856ed4e6/1200px-Logo_of_Kaspi_bank-removebg-preview.png"
  height="30" width="30">
</a>
<a routerLink="/cart" class="button fancy-button">
  <i class="material-icons">shopping_cart</i>Checkout
</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->